* {
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* sidebar */

#sidebar {
    background-color: #7f9dde;
    height: 100vh;
    color: #eeeded;
    position: sticky;
    top: 0;
    height: 100vh;
}

#sidebar .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#sidebar h1 {
    margin: 10px 6px;
}

.open-dialog-Btn {
    all: unset;
    background-color: #00ac00;
    padding: 8px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    border-radius: 8px;
    border: 2px solid #7f9dde;
}

.open-dialog-Btn:hover {
    border: 2px solid #03a803;
}

#sidebar hr {
    width: 80%;
    margin: 20px 0px;
}

.project-section h3 {
    margin-left: 30px;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-section-heading {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.project-section-heading button {
    background-color: #7f9dde;
    border: none;
    font-size: 1rem;
}

.project-section-heading button:hover {
    background-color: white;
    color: #12bd12;
    border-radius: 4px;
}

.projects ul {
    list-style-position: inside;
    list-style-type: "# ";
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects li::marker {
    font-size: 1.2rem;
    color: red;
}

.projects li::marker {
    font-size: 1.2rem;
    color: var(--project-color, #f55656);
}

.projects li>div {
    display: inline-flex;
    position: relative;
}

span#img img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -1px;
    left: 209px;
    visibility: hidden;
}

.projects li:hover {
    padding: 0px 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

li:hover span#img img {
    visibility: visible;
}

.projects ul li.select {
    padding: 0px 10px;
    background-color: white;
    color: black;
}


main {
    background-color: #c2cdd6;
}

/* dialog */

.add-task-dialog {
    margin: auto;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task-form .text {
    display: flex;
    flex-direction: column;
}

.add-project-dialog {
    clip-path: polygon(10% 10%, 90% 10%, 90% 60%, 10% 60%, 10% 26.79%, 0.88% 21.52%, 10% 16.25%);
    background-color: #7f9dde;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 114px;
    left: 288px;
}

.project-form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 75px;
    left: 90px;
}

.color-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-picker+input {
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.add-project-Btn {
    border: none;
    width: 70px;
    background-color: #057705;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
}

.delete-popUp {
    margin: auto;
    inset: 0;
}

/* main */

#main-canvas {
    margin: 30px 30px 0px 30px;
    background-color: white;
    height: 100vh;
    border-radius: 10px 10px 0px 0px;
}

#canvas-heading {
    padding: 10px 25px;
}

#canvas-heading h1 {
    margin-top: 5px;
}

#canvas-heading hr {
    width: 100%;
    margin: 15px 0px;
}

#main-canvas {
    display: grid;
    grid-template-rows: 90px 1fr;
    gap: 0px;
}

#to-dos {
    padding: 0px 25px;
}

.to-do-minimised {
    font-size: 1.2rem;
    padding: 20px 5px 0px 5px;
    position: relative;
    height: 60px;
}

.task {
    display: flex;
    gap: 10px;
}

.priority-date {
    font-size: 0.8rem;
    margin-left: 24px;
    margin-top: 8px;
    display: flex;
}

.priority-date .date {
    margin-left: 10px;
}

.priority.high::after {
    content: "High";
    background-color: #e94a4a;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.priority.low::after {
    content: "Low";
    background-color: #18b3f0;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.priority.medium::after {
    content: "Medium";
    background-color: #f6a50e;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.to-do-minimised hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.154);
}

.edit-buttons {
    position: absolute;
    top: 5px;
    right: 19px;
    cursor: pointer;
    visibility: hidden;
    margin-left: 20px;
}

.edit-buttons img {
    margin-left: 5px;
}

.edit {
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.expand {
    height: 30px;
    width: 30px;
}

.to-do-minimised:hover,
.to-do-expanded:hover {
    background-color: #efecec77;
}

.to-do-minimised:hover .edit-buttons,
.to-do-expanded:hover .edit-buttons {
    visibility: visible;
}

.to-do-expanded {
    /* height: 100px; */
    font-size: 1.2rem;
    padding: 20px 5px 0px 5px;
    position: relative;
}

.to-do-expanded hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.154);
}

.task-edit {
    display: flex;
    gap: 10px;
}

.task-edit input[type="text"] {
    border: none;
    font-size: 1.2rem;
    background-color: inherit;
}

.task-edit input[type="text"]:disabled,
.description-edit input[type="text"]:disabled {
    background-color: inherit;
    color: black;
}

.task-edit input[type="text"]:focus,
.description-edit input[type="text"]:focus {
    outline: none;
    background-color: #ebebeb51;
}

.description-edit {
    font-size: 0.9rem;
    margin-top: 15px;
    margin-left: 24px;
}

.description-edit input[type="text"] {
    border: none;
    width: 600px;
    font-size: 0.9rem;
    background-color: inherit;
}

.priority-date-edit {
    margin-top: 30px;
    height: 16px;
    display: flex;
    gap: 10px;
    margin-left: 24px;
}

.priority-date-edit select.low {
    appearance: none;
    background-color: #18b3f0;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.priority-date-edit select.low:disabled {
    opacity: 1;
}

.priority-date-edit select.medium {
    appearance: none;
    background-color: #f6a50e;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.priority-date-edit select.medium:disabled {
    opacity: 1;
}

.priority-date-edit select.high {
    appearance: none;
    background-color: #e94a4a;
    color: white;
    padding: 1px 6px;
    border-radius: 8px;
    font-size: 0.7rem;
    display: block;
    width: 51px;
    box-sizing: border-box;
    text-align: center;
}

.priority-date-edit select.high:disabled {
    opacity: 1;
}

.priority-date-edit input[type = "date"]{
    border: none;
    background-color: inherit;
}

.priority-date-edit input[type = "date"]:focus{
    outline: none;
}